<div class="content text-center" role="main">
    <h1 class="h3 m-3 font-weight-normal">Agendar atendimento</h1>

    <div class="form-login">
        <select [(ngModel)]="appointment.professional_id" class="form-select m-1" aria-label="Profissionais"
            name="professional_id">
            <option value="0">- Lista de Profissionais -</option>
            <option *ngFor="let professional of listProfessionals" [value]="professional.id">{{ professional.name }}
            </option>
        </select>
        <label for="appointment_at" class="sr-only">Data do atendimento</label>
        <input [(ngModel)]="appointment.appointment_at" type="datetime-local" name="appointment_at" class="form-control m-1"
            placeholder="Data do atendimento" required="" [(ngModel)]="appointment.appointment_at" />
    </div>

    <div class="table m-4">
        <h1 class="h4 font-weight-normal">Procedimentos</h1>
        <div class="row table text-center">
            <div class="offset-md-4 col-md-4">
                <select [(ngModel)]="procedure_id" class="form-select m-1" aria-label="Procedimentos" name="procedure_id">
                    <option value="0">- Lista de Procedimentos -</option>
                    <option *ngFor="let procedure of listProcedures" [value]="procedure.id">{{ procedure.name }}</option>
                </select>
            </div>
            <div class="col-md-1">
                <a href="javascript: void(0)" (click)='addProcedure()' class="text-dark" title="Remover procedimento">
                    <i class="fa fa-plus-circle fa-2x text-primary"></i>
                </a>
            </div>
        </div>
        <table *ngIf="(procedures != undefined)" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Comissão</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let procedure of procedures; let i  = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ procedure.name }}</td>
                    <td>{{ procedure.description }}</td>
                    <td align="right">{{ procedure.value | currency:'BRL':true:'1.2-2':'pt' }}</td>
                    <td align="right">{{ procedure.value * procedure.percent | currency:'BRL':true:'1.2-2':'pt' }}</td>
                    <td>
                        <div class="row">
                            <div class="table col-md-4">
                                <a href="javascript: void(0)" (click)='removeProcedure(procedure)' class="text-dark" title="Remover procedimento">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="(procedures.length > 0)">
                    <td colspan="3" align="right"><b>Total: </b></td>
                    <td align="right">{{ total_value | currency:'BRL':true:'1.2-2':'pt' }}</td>
                    <td align="right">{{ total_value_commission | currency:'BRL':true:'1.2-2':'pt' }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary btn-block m-1" (click)="store(appointment)" type="submit">Salvar</button>
</div>