 <!-- Footer -->
 <div class="bg-dark fixed-bottom footer">
    <p style="padding-top: 10px;" class="text-white">
      <span class="pt-1"> Agendamento de consultas com Angular {{ version }} | {{ currentYear }} {{ author }}</span>
      <a aria-label="Project repository" class="m-2" target="_blank" rel="noopener" href="https://github.com/flailton/medical-care"
          title="Github">
          <img alt="File:Git icon.svg"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/97px-Git_icon.svg.png"
              decoding="async" width="30" height="30"
              srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/146px-Git_icon.svg.png 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/194px-Git_icon.svg.png 2x"
              data-file-width="30" data-file-height="30">
      </a>
    </p>
    
  </div>